@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background-color: #fbec5d;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 20px;
}

.scoreboard {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.scoreboard h2 {
    font-size: 30px;
}

.scoreboard p {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

img {
    height: 300px;
}

.hands {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.computer-hand {
    transform: rotateY(180deg);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container div {
    text-align: center;
    text-transform: uppercase;
}

.winner {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

button { 
    text-transform: uppercase;
    margin-top: 40px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    border: 5px solid black;
}

button:hover { 
    color: black;
    background-color: #fbec5d;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

footer {
    font-size: 10px;
    text-align: center;
    margin: 50px auto;
}

@keyframes shakePlayer {
    0% {
        transform:  translateY(0px);
    }
    50% {
        transform:  translateY(-50px);
    }
    100% {
        transform:  translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: rotateY(180deg) translateY(0px);
    }
    50% {
        transform: rotateY(180deg) translateY(-50px);
    }
    100% {
        transform: rotateY(180deg) translateY(0px);
    }
}